
body,p,li,ul,a,img,div, h1,h2
{
    padding: 0px;
    margin: 0px;
}

html
{
    font-size: 45px;
}

body
{
    max-width: 1920px;
    min-width: 320px;
    font-family: "GothamPro","Arial", sans-serif;
    line-height: 1;
}

ul
{   
    list-style:none;
}

.header-wrap
{
    position: fixed;
    height: 100%;
    width: 150px;
    left: 0px; 
    top: 0px; 
   
    background:#f6f6f6;
}

.header-logo
{
    padding-top: 25px;
    height: 179px;
    
}

.header-logo__text
{
    padding-top: 14px;
    text-align: center;
    font-weight: bold;
    color: #f73934;
    font-family: "GothamPro-Medium","Arial", sans-serif;
    font-size: 16px;
}

.header-logo__link
{
    height: 179px;
    display: block;
    text-decoration: none;
}

.header-logo__image
{
    display:block;
    margin: 0 auto;
}

.header-menu__link{

    height:118px;
    display: block;
    text-decoration: none;
    color: black;
    transition: 1s ease;
}

.header-menu__link:hover
{
    background-color: white;
}
.icon-wrapper
{
    position: relative;
    width: auto;
    height: 100px;
    
}
.header-menu__icon
{
    margin: 0 auto;
}

.header-menu__icon::after
{
    content: "";
    position: absolute;
    left: 0px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.header-menu__icon_1::after
{
    background-size:48px 48px;
    background-image:url("img/image.png");
}
.header-menu__icon_2::after
{
    background-size: 49px 59px;
    
    background-image:url("img/image0.png");
}

.header-menu__icon_3::after
{
    background-size:51px 49px;
    
    background-image:url("img/image1.png");
}

.header-menu__text{
    font-family: "GothamPro-Medium","Arial", sans-serif;
    padding-top: 85px;
    position: relative;
    color: #555555;
    font-size: 14px;
    letter-spacing:0px;
}

.header-menu__item
{
    height: 118px;
    width:auto;
    text-align: center;
}

.content-wrap
{
    margin-left: 150px;
    max-width: 1770px;
}


.promo
{
    width: 100%;
    height: 14.55rem;
    background-image: url("img/gallery_1.6e98f8b2.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
}

.promo-list
{
    padding-top: 1.68rem;
    padding-left: 1.60rem;
    width: 17.8rem;
    height: 6rem;
}

.promo-list__item
{
    color: #45370a;
    
    float: left;
    height: 100%;
    width: 4.12rem;
}

.promo-list__icon
{
    margin:0 auto;
    width: 2.75rem;
    height: 2.75rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    border-radius: 50%;
    background-color: #fff;
}
.promo-list__text
{
    font-family:  "GothamPro-Medium","Arial", sans-serif;
    padding-top: 0.4rem;
    line-height:0.53rem;
    text-align: center;
    font-size: 0.4rem;
    letter-spacing:-0.2px;
}

.promo-list__span
{
    text-align: center;
    color: #f73934;
}

.promo-list__icon_1
{
    background-image:url("img/image5.png");
}

.promo-list__icon_2
{
    background-image: url("img/image3.png");
}

.promo-list__icon_3
{
    background-image: url("img/image4.png");
}

.promo-text
{
    color: #f73934;
    margin-left: 1.7rem;
}

.promo-text__first
{
    font-family: "GothamPro-Medium","Arial", sans-serif;
    color: inherit;
    font-size: 2.18rem;
    letter-spacing: 6px;
    font-weight: 500;
}

.promo-text__second
{
    font-family: "GothamPro-Light","Arial", sans-serif;
    font-size: 1.23rem;
    line-height: 1.02rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.promo-text__third
{
    font-family: "GothamPro-Light","Arial", sans-serif;
    font-size: 1.23rem;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: -1.4px;
    line-height: 1.65rem;
    word-spacing:11px;
    
}

.promo-text__span{
    font-family: "GothamPro-Black","Arial", sans-serif;
    font-size: 2rem;
    text-transform: none;
    font-weight: 1000;
}

.load-photo
{
    position: relative;
    float: left;
    width:50%;
    height: 100%;
    background-image: url("img/gallery_block.d7a874af.jpg");
    background-size: cover ;
    background-position: center;
}

.load-photo__text-block
{
    position: relative;
    margin-top:6.1rem;
    margin-left:2.18rem;
}

.load-photo__text-block::before
{
    top: -5.3rem;
    left: 0.36rem;
    content: "";
    position: absolute;
    background-image: url("img/arrow.png");
    background-size: cover;
    width: 4.04rem;
    height: 5.24rem;
}

.load-photo__text-block h2
{
    font-family: "GothamPro-Bold","Arial", sans-serif;
    letter-spacing: -0.8px;
    line-height:1.32rem;
    font-size: 1rem;
    color: #000000;
}

.load-photo__text-block  .load-photo__hash
{
    font-family: "GothamPro","Arial", sans-serif;
    padding-left: 8px;
    line-height:1.36rem;
    padding-right: 0.44rem;
    margin-left: -0.2rem;
    display: inline-block;
    background-color: white;
    color: #f73934;
}

.button_gallery
{
    margin-top: 0.9rem;
    margin-left: -0.2rem;
}

.gallery
{
    width: 100%;
    height: 15.9rem;
}


.gallery-list
{
    float: left;
 
    width:50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 14.55rem;
    height: 100%;
    padding:0.69rem 0.6rem;
    padding-right: 0.55rem;
    box-sizing: border-box;
    
}


.gallery-list__item
{
    cursor:pointer;
    height: 32.4%;
    width:32.5%;
    float: left;
}

.gallery-list__item:nth-child(3n)
{
    margin-right:0px;
}
.gallery-list__item:nth-child(7)
{
    margin-bottom: 0px;
}
.gallery-list__item:nth-child(8)
{
    margin-bottom: 0px;
}
.gallery-list__item:nth-child(9)
{
    margin-bottom: 0px;
}


.gallery-list .gallery-list__pic
{
    height: 100%;
    width: 100%;
    background-color: #555555;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.gallery-list .gallery-list__pic_1
{
    background-image: url("img/1.dc59205a.png");
}
.gallery-list .gallery-list__pic_2
{
    background-image: url("img/2.09d5f843.png");
}
.gallery-list .gallery-list__pic_3
{
    background-image: url("img/3.416330f5.png");
}
.gallery-list .gallery-list__pic_4
{
    background-image: url("img/4.71d17a4f.png");
}
.gallery-list .gallery-list__pic_5
{
    background-image: url("img/5.d0f1531e.png");
}
.gallery-list .gallery-list__pic_6
{
    background-image: url("img/6.d542dd6f.png");
}
.gallery-list .gallery-list__pic_7
{
    background-image: url("img/7.7c6c40b0.png");
}
.gallery-list .gallery-list__pic_8
{
    background-image: url("img/8.0a2ab336.png");
}
.gallery-list .gallery-list__pic_9
{
    background-image: url("img/9.4c9c4447.png");
}

.prizes
{
    width: 100%;
    height: 15.9rem;
}
.prizes-about{
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    background-image: url("img/about_block.dbb14942.png");
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
}

.prizes-about::after
{
    position: absolute;
    z-index:1;
    content:"";
    background-image: url("img/right-triangle.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 23.75%;
    right: -1.1rem;
    width: 1.66rem;
    height: 3.86rem;
}

.prizes-about__text{
    position: relative;
    margin-left: 2rem;
    margin-top: 3.7rem;
}

.prizes-about__text::before
{
    position: absolute;
    content: "";
    left:-0.96rem;
    top: -1.44rem;
    background-image: url("img/packoflays.png");
    background-size: 100% 100%;
    width: 6.08rem;
    height: 6.75rem;
}

.button
{
    position: absolute;
    cursor: pointer;
    font-family: "GothamPro-Medium","Arial", sans-serif;
    width: 5.37rem;
    height: 1.44rem;
    display: block;
    text-decoration: none;
    color: white;
    border: 3px solid white;
    text-align: center;
    font-size: 0.56rem;
    letter-spacing: 1.44px;
    line-height: 1.5rem;
    transition:  .5s ease;
    
}

.button_about
{
    margin-left: -2px;
    margin-top: 1.00rem;
}

.button:hover
{
    background-color: rgba(0,0,0,0.1);
}


.prizes-about__text-h 
{
    font-family:  "GothamPro-Bold","Arial", sans-serif;
    letter-spacing: 0.1px;
    margin-left: 5.25rem;
    font-size: 1.34rem;
    color: white;
    line-height: 1.45rem;
}

.prizes-about__text-p
{
    font-family:  "GothamPro","Arial", sans-serif;
    color: white;
    font-size: 0.45rem;
    margin-top: 1.78rem;
    margin-right: 2rem;
    line-height: 0.63rem;
    letter-spacing: -0.05px;
    
}

.prizes-baloon
{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;

}
.baloon__image
{
    position: relative;
    background-image: url("img/about_img.3f56954a.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}

.summer
{
    width:  100%;
    height: 15.95rem;
}

.summer-promo
{
    float: left;
    width: 50%;
    height: 100%;
    background-image: url("img/lays_img.5f4a68cd.jpg");
    background-size: 101% ;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.summer-promo__image
{
    width: 100%;
    height: 100%;
    background-image: url("img/lays_img_mobile.22a44045.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.summer-map
{
    position: relative;
    float: left;
    width: 50%;
    height: 100%;
    background-image: url("img/lays_block.1e4024ad.jpg");
    background-size: cover ;
    background-repeat: no-repeat;
    background-position: center;
}

.summer-map::before
{
    position: absolute;
    content:"";
    background-image: url("img/left-triangle.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    top: 42.5%;
    left: -1.2rem;
    width: 1.66rem;
    height: 3.86rem;
}

.summer-map__text
{
    font-family:  "GothamPro-Bold","Arial",sans-serif;
    font-size: 1.50rem;
    letter-spacing: 0px;
    text-align: center;
    word-spacing: -1px;
    margin: 10.61rem auto 0;
    color: #301F20;
}

.button_follow
{
    top:13rem;
    left:5.05rem;
}
.footer
{
    float: left;
    width: 100%;
    height: 100px;
    background-color: #3c3c3c;
}

.copyright{
    padding: 0px 25px;
}

.copyright__image{
    float:left;
    width: 80px;
    height: 97px;
}

.copyright__text{
    float: left;
    line-height: 103px;
    margin-left: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.5px;
    color: #b4b4b4;
}

.social
{
    float:right;
}

.social__item
{
    display: block;
    cursor: pointer;
    width: 101px;
    height: 100px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    transition:  0.3s ease;
    opacity: 0.85;
    background-size: 52px 49px;
}

.social:hover
{
    opacity:1;
}

.social__item_fb
{    
    background-color: #326aa2;
    background-image:url("img/image.jpeg");
}

.social__item_vk
{
    background-color: #3479a8;
    background-image:url("img/image0.jpeg");
}

.social__item_site
{
    background-color: #edbf11;
    background-image:url("img/image1.jpeg");
}  

.social__item_yt
{
    background-color: #c4070e;
    background-image:url("img/image2.jpeg");
}

@font-face 
{
    font-family:"GothamPro";
    src: url("../fonts/GothamPro.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
} 
@font-face
{
    font-family:"GothamPro-Light";
    src: url("../fonts/GothamPro-Light.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
}

@font-face
{
    font-family:"GothamPro-Bold";
    src: url("../fonts/GothamPro-Bold.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
}

@font-face
{
    font-family:"GothamPro-Medium";
    src: url("../fonts/GothamPro-Medium.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
}

@font-face
{
    font-family:"GothamPro-Black";
    src: url("../fonts/GothamPro-Black.ttf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
}



@media (max-width:1400px)
{
    .footer{
        height: 90px;
    }
    .social__item
    {
        width:90px;
        height: 90px;
    }
    .copyright
    {
        padding: 0px 20px;
        
    }
    .copyright__image
    {
        width:70px;
        height: 84px;
        
    }
    .copyright__text
    {
       
        line-height: 93px;
        margin-left: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #b4b4b4;
    }
    .social__item
    {
        background-size: 46px 48px;
    }
}

@media (max-width:1000px)
{   
    .header-wrap
    {
        width: 110px;
    }
    .content-wrap
    {
        margin-left:110px;
    }

    .footer{
        height: 60px;
    }
    .social__item
    {
        width:60px;
        height: 60px;
    }
    .copyright__image{
        
        width: 50px;
        height: 60px;
    }
    .copyright__text
    {
       
        line-height: 60px;
        margin-left: 5px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #b4b4b4;
    }
}

@media ( max-width: 1920px)
{
    html
    {
        font-size: calc(2.9374vw - 1.4px);
    }
    
    .mobile
    {
        display: none;
    }
}

@media (width: 1560px)
{
    html
    {
        font-size: 45px;
    }
}

@media (width: 1400px)
{
    html
    {
        font-size: 40px;
    }
}

@media (max-width:680px)
{
    
    
    body
    {
        max-width:680px;
    }
   
    .header-wrap
    {
        z-index:1000;
        position: fixed; 
        width:100%;
        height:77px;
        left: 0px; 
        top: 0px; 
        
    }
    .header-logo
    {
        position: relative;
        padding-top:0px;
        height: 20px;
    }

    .header-logo__text
    {
        
        padding-top: 25px;
        padding-left: 12px;
        text-align: center;
        font-weight: bold;
        color: #f73934;
        font-family: "GothamPro-Medium","Arial", sans-serif;
        font-size: 20px;
    }
    .header-logo__link
    {
        cursor:pointer;
        width:100%;
        height:100%;
        display: block;
        text-decoration: none;
    }

    .header-logo__image
    {
        position: absolute;
        top:11px;
        left: 18px;
        height:50px;

        margin: 0;
    }

    .mobile-menu
    {
        
        position:absolute;
        width: 33px;
        height:33px;
        top:24px;
        right: 24px;
        
    }

    .mobile-menu__line
    {
        position: absolute;
        left:0px;
        width:33px;
        height:5px;
        background-color: red;
    }
    .mobile-menu__line_1
    {
        top:0px;
        
    }
    .mobile-menu__line_2
    {
        top:11px;
        
    }
    .mobile-menu__line_3
    {
        top:21px;
        
    }

    .header-menu
    {
        display:none;
    }
    .content-wrap
    {
        margin-top:77px;
        margin-left:0px;
    }
    .promo
    {
        position: relative;
        height: 69.1rem;
        width:100%;
        background-image: url("img/gallery_1_mobile.eaa754df.jpg");
        background-size: cover;
        background-position: top;
    }

    .promo-list
    {
        padding:0px;
        padding-top: 145px;

        width:auto;
        height: 5rem;
        display: flex;
        justify-content: space-evenly;

    }

    .promo-list__item
    {
        width: 13.2rem;
    }

    .promo-list__item:nth-child(2)
    {
        width:65px;
    }

    .promo-list__icon
    {
        width: 65px;
        height: 65px;
    }
    .promo-list__text
    {
        font-size: 13px;
        line-height:15px;
        padding-top: 7.5px;
    }

    .promo-text
    {
        position: absolute;
        top: 21px;
        width:138px;
        left:50%;
        
        margin-left:-69px;
        
    }

    .promo-text__first
    {
        font-size:44px;
        letter-spacing: 2px;
    }

    .promo-text__second
    {
        font-size: 25px;
        line-height: 22px;
        letter-spacing: 1px;
    }
    .promo-text__third
    {
        font-size: 25px;
        line-height: 32px;
        word-spacing:4px;
        letter-spacing: -0.7px;
    }
    .promo-text__span
    {
        font-size: 40px;

    }
    .gallery
    {
        padding-top:5px;
        height: 79rem;

    }
    .load-photo
    {
        height:39.7rem;
        width:100%;
        background-image: url("img/gallery_block_mobile.231a2475.png");
    }
    .load-photo__text-block
    {
        position: relative;
        margin-top:18.5rem;
        margin-left:4.4rem;
    }
    .load-photo__text-block h2
    {
        letter-spacing: -0.6px;
        line-height:3.49rem;
        font-size: 2.64rem;
    }

    .load-photo__text-block  .load-photo__hash
    {
        line-height:3.7rem ;
        padding-left: 5px;
        padding-right: 9px;
        margin-left: -0.5rem;
    }
    

    .load-photo__text-block::before
    {
        top: -16.8rem;
        left: 1.2rem;
        content: "";
        position: absolute;
        background-image: url("img/arrow.png");
        background-size: cover;
        width: 12rem;
        height: 15.8rem;
    }

    .gallery-list
    {
        
        height:40.1rem;
        
        width: 100%;
        padding:16px;
        padding-right: 15px;
        
        
    }

    .gallery-list .gallery-list__pic
    {
        height:100%;
        width: 100%;
    }

    .button
    {
        width: 13.4rem;
        height: 3.5rem;
        border: 2px solid white;
        font-size: 1.4rem;
        line-height: 3.6rem;
        letter-spacing: 0.55px;
    }
    .button_gallery
    {
        margin:0;
        bottom:-0.3rem;
        left:18rem;
        
    }
    .prizes
    {
        position: relative;
        height: 630px;
        height:79.9rem;
        width:100%;
    }

    .prizes-about
    {
        z-index: 1;
        position: relative;
        height: 50%;
        width: 100%;
        background-image: url("img/about_block_mobile.088df3d6.png");
    }
    .mobile
    {
        display: block;
    }
    .desktop
    {
        display: none;
    }
    .prizes-about__text{
        position: static;
        margin-left: 4.1rem;
        margin-top: 4.75rem;
    }
    .prizes-about__text-h 
    {
        letter-spacing: 0.1px;
    
        margin-left: 0rem;
        font-size: 3.55rem;
        color: white;
        
        line-height: 4.1rem;
    }
    .prizes-about__text-p
    {
        margin-top: 3.1rem;
        margin-left:0.2rem;
        width:140px;
        width:17rem;
        font-size: 1.5rem;
        line-height: 2rem;
        
    }

    .prizes-about::after
    {
        display:none;
    }

    .prizes-about__text::before
    {
        display:none;
    }
    .button_about
    {
        margin:0;
        top:30rem;
        left: 50%;
        margin-left: -6.95rem;
    }

    .prizes-baloon
    {
        z-index:0;
        position:absolute;
        top:50%;
        height: 50%;
        width: 100%;
        background: none;
    }
    .baloon__image
    {
        top:-6%;
        bottom: -10%;
        left: 0;
        right:0;
        position: absolute;
        background-image: url("img/about_img_mobile.7747e5da.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: auto;
        height: auto;
        
    }

    .summer
    {
        position: relative;
        z-index: 1;
        height: 81rem;
        width: auto;
        background-color: white;
    }

    .summer-promo
    {
        
        width: 100%;
        height: 50%;
        float: top;
        position: absolute;

        left:0px;
        top: 50%;
        background-image: url("img/lays_img_mobile.22a44045.jpg");
        background:none;
        background-size: cover;
    }

    .summer-promo__image
    {
        top: -6%;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        width: auto;
        height: auto;
        background-image: url("img/lays_img_mobile.22a44045.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .summer-map
    {
        margin-top: 4px;
        
        width: 100%;
        height: 320px;
        height: 40rem;
        
        
        background-image: url("img/lays_block_mobile.823e2bd0.png");
    }
    .summer-map::before
    {
        display: none;
    }

    .summer-map__text
    {
        font-size: 3.8rem;
        letter-spacing: -0.5px;
        text-align: center;
        word-spacing: 0.6px;
        margin: 25rem auto 0;

    }

    .button_follow
    {
        top: 30.6rem;

        left: 50%;
        margin-left: -6.5rem;
    }

    .footer
    {
        height: 42px;
    }
    .copyright__image
    {
        display: none;
    }

    .copyright__text
    {
        line-height: 40px;
        margin-left: 6px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8px;
        letter-spacing: 0.2px;
    }
    .copyright__rights
    {
        display: none;
    }
    .social__item
    {
        height: 42px;
        width: 45px;
        background-size:23px 22px;
    }
}

@media (width:320px)
{
    html 
    {
        font-size:8px;
    }
}

@media (max-width:320px)
{
    html 
    {
        font-size:8px;
    }
}